/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a,
button {
  color: black;
}

.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------
ヘッダー
------------------------------------------------------------------------------ */

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
}

#header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  color: white;
}

#header a:hover {
  text-decoration: none;
}

#site-title {
  text-align: center;
  width: 20%;
}

#site-title a {
  white-space: nowrap;
  font-size: 1.875rem;
  letter-spacing: 3px;
  font-family: "Poiret One", cursive;
}

.right_nav,
.left_nav {
  width: 30%;
  display: flex;
  margin: 0;
}

.right_nav {
  justify-content: flex-end;
}

.right_nav li,
.left_nav li {
  margin: 0 20px 0;
  color: white;
}

.right_nav li a:hover,
.left_nav li a:hover {
  border-bottom: 1px solid white;
}

.toggle_btn {
  display: none;
}

#navi {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  padding: 60px 25px;
  transition: all 0.5s;
  z-index: 30;
  opacity: 0;
  font-size: 0.875rem;
  background-color: black;
  box-sizing: border-box;
}

#navi .nav-menu {
  margin-bottom: 60px;
}

.nav-menu li {
  padding: 20px 0;
  border-bottom: 1px solid white;
  color: white;
}

.open #navi {
  left: 0;
  opacity: 1;
}

#mask {
  display: none;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 15;
  cursor: pointer;
}

.toggle_btn span {
  display: block;
  background-color: white;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 2px;
}

.open .toggle_btn span {
  background-color: white;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

@media screen and (max-width: 900px) {
  .left_nav {
    display: none;
  }
  .right_nav {
    display: none;
  }
  .toggle_btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 20;
  }
}
