/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wrapper {
  padding: 0 20px;
  max-width: 1360px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------
ヘッダー
------------------------------------------------------------------------------ */

header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 10;
}

#header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header a {
  color: white;
}

#header a:hover {
  text-decoration: none;
}

#site-title {
  text-align: center;
  width: 20%;
}

#site-title a {
  white-space: nowrap;
  font-size: 1.875rem;
  letter-spacing: 3px;
  font-family: "Poiret One", cursive;
}

.right_nav,
.left_nav {
  width: 30%;
  display: flex;
  margin: 0;
}

.right_nav {
  justify-content: flex-end;
}

#header li {
  margin: 0 20px 0;
  color: white;
}

#header li a:hover {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 900px) {
  .left_nav {
    display: none;
  }
  .right_nav {
    width: 215px;
  }
}

@media screen and (max-width: 450px) {
  .left_nav {
    display: none;
  }
  .right_nav {
    width: 215px;
  }

  #header li {
    margin: 0;
  }

  #header li:first-of-type {
    margin-right: 20px;
  }
}
