// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu {
  position: relative;
  width: 100%;
  height: 485px;
}

.menu_box {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  margin: auto;
}

.bg_image {
  height: 100%;
  width: 100%;
  background-image: url(word.jpg);
  background-size: cover;
}

.bg_mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}

.btn-field3 {
  display: inline-block;
  margin-bottom: 50px;
}

.btn-field {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu_box h1 {
  color: rgb(0, 0, 0);
  font-size: 90px;
  margin-top: 80px;
  margin-bottom: 100px;
  letter-spacing: 20px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

a.btn--orange {
  width: 200px;
  color: #fff;
  outline: none;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
}
a.btn--orange:focus {
  outline: none;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.create {
  background-color: #ec4c4c;
  border-bottom: 5px solid #af1f1f;
}

a.create:hover {
  background: #ec4c4c;
  border-bottom: 2px solid #af1f1f;
}

a.index {
  background-color: #4db94d;
  border-bottom: 5px solid #277738;
}

a.index:hover {
  background: #4db94d;
  border-bottom: 2px solid #277738;
}
a.test {
  background-color: #5e5ee4;
  border-bottom: 5px solid #3f4492;
}

a.test:hover {
  background: #5e5ee4;
  border-bottom: 2px solid #3f4492;
}



