// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 40px;
  background-image: url(word2.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  box-sizing: border-box;
}

.menu_box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.menu_box h1 {
  white-space: nowrap;
  text-align: center;
  font-size: 5.625rem;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  letter-spacing: 1rem;
  margin-bottom: 70px;
}

.btn-field-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.btn-field-2 {
  display: flex;
  justify-content: space-between;
}

a.btn--orange {
  width: 200px;
  color: #fff;
  outline: none;
  background-color: #f09041;
  border-bottom: 5px solid #c96931;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f09041;
  border-bottom: 2px solid #c96931;
}
a.btn--orange:focus {
  outline: none;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
  .menu_box h1 {
    font-size: 3.75rem;
    white-space: normal;
    font-family: none;
    font-weight: normal;
  }

  .btn-field-1 {
    margin-bottom: 1rem;
  }

  .btn-field-2 {
    flex-direction: column;
  }

  .btn-field-2 li {
    margin-bottom: 1rem;
    text-align: center;
  }
}
