// Place all the styles related to the word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------------------------------
// テスト画面
// ---------------------------------------------------------------------
.test-area1 {
  width: 100%;
  padding-top: 40px;
}

a:focus {
  outline: none;
}

#container {
  width: 100%;
}

.next {
  width: 300px;
  height: 34px;
  margin: 0 auto;
  text-align: right;
}

.fa-chevron-circle-right {
  color: rgb(82, 81, 81);
}

.header-test {
  width: 300px;
  margin: 20px auto 0;
  text-align: center;
  display: grid;
  grid-template-rows: 23px;
  grid-template-columns: 50px 50px 100px 50px 1fr;
}

.number {
  grid-row: 1;
  grid-column: 3;
}

.favorite-button {
  grid-row: 1;
  grid-column: 1;
}

.search {
  grid-row: 1;
  grid-column: 2;
}

#speakbtn {
  grid-row: 1;
  grid-column: 5;
}

/* クイズのすべてを管理する親要素 */
.test-area2 {
  position: relative;
  width: 100%;
  height: 80%;
}

.quiz_area {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 300px;
}

/* 問題文 */
.quiz_area .quiz_question {
  font-weight: bold;
  font-size: 2rem;
}

.quiz_area .quiz_ans_area {
  position: relative;
}

/* 以下クイズの選択肢のデザイン */
.word_mean {
  display: block;
  width: 300px;
  background: rgb(255, 255, 255); /* 背景色 */
  color: rgb(0, 0, 0); /* 文字色 */
  padding: 16px 40px; /* 上下の余白、左右の余白 */
  text-decoration: none; /* デフォルトで入るリンクの下線を消す */
  border: 1px solid #ccc;
  border-radius: 30px; /* 角を丸くする */
  transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.word_mean:hover {
  background-color: #ccc;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.choice_box {
  text-align: center;
  margin-bottom: 15px;
}

.question {
  text-align: center;
}

.q_word {
  margin: 0;
}

#speakbtn,
.speakbtn_index,
.filter-btn {
  border: none; /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
  cursor: pointer;
}

/* 回答後に上に被せてタップできなくするための要素（デフォルト非表示） */
.quiz_area .quiz_area_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  display: none;
  color: #fff;
  text-align: center;
}

/* 画面に〇、×を表示するための要素（デフォルト非表示、回答後に一時的に表示） */
.quiz_area .quiz_area_icon {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  color: red;
  display: none;
  font-size: 10em;
  font-weight: bold;
  -webkit-text-stroke: 4px #fff;
}

/* .trueまたは.falseのクラスが付与されたら表示するものとみなす */
.quiz_area .quiz_area_icon.true,
.quiz_area .quiz_area_icon.false {
  display: block;
}

/* .trueは正解（〇を表示） */
.quiz_area .quiz_area_icon.true:before {
  content: "〇";
  color: red;
  opacity: 0.7;
}
/* .falseは不正解（×を表示） */
.quiz_area .quiz_area_icon.false:before {
  content: "✕";
  color: blue;
  opacity: 0.7;
}

.result {
  display: inline-block;
}

// ---------------------------------------------------------------------
// 単語新規作成画面
// ---------------------------------------------------------------------

.create_box {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.word_create {
  position: absolute;
  top: 60%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -60%);
  width: 500px;
}

.word_create h1 {
  margin-bottom: 50px;
  font-family: Raleway, sans-serif;
  font-size: 3.1rem;
}

.create-form {
  display: flex;
  justify-content: space-between;
}

.create_field {
  width: 180px;
}

.text_field {
  border: none;
  border-bottom: 2px solid #1b2538;
  width: 100%;
}

.text_field:focus {
  outline: none;
}

.error_box {
  height: 80px;
  color: red;
}

.pull_down select {
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
  width: 180px;
}

.pull_down {
  margin-bottom: 50px;
}

.new_word_submit {
  margin: 30px;
  background-color: #e27441;
  border-color: rgb(240, 147, 104);
  border-bottom: 2px solid #be783f;
  border-right: 2px solid #c77e43;
  color: #fff;
  font-family: Raleway, sans-serif;
  cursor: pointer;
  letter-spacing: 2px;
  line-height: 24px;
  padding: 8px 16px;
}

@media screen and (max-width: 600px) {
  .word_create {
    width: 50%;
  }

  .create-form {
    flex-direction: column;
  }

  .create_field {
    width: 100%;
  }

  .error_box {
    height: 50px;
  }

  .pull_down select {
    width: 100%;
  }

  .new_word_submit {
    margin: 0;
  }
}

// ---------------------------------------------------------------------
// 単語一覧画面
// ---------------------------------------------------------------------
.index-area {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.index-header {
  width: 80%;
  margin: 0 auto;
}

.index-area form {
  margin: 0 auto;
  height: 90%;
  width: 80%;
}

.table-area {
  height: 100%;
  overflow-y: scroll;
}

.index_table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  height: 50px;
}

.index_table thead th {
  font-weight: lighter;
  border-top: white;
}

.table td:not(.word) {
  text-align: center;
}

.index_table p {
  margin: 0;
}

.word-mean {
  font-size: 0.75rem;
}

.modal-body p {
  width: 100%;
}

.m-header {
  height: 60px;
  padding: 5px 20px;
  font-size: 2rem;
  border-bottom: 1px solid #e9ecef;
}

.m-body {
  height: 330px;
  padding: 20px;
}

.filter-btn {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 0;
}

#narrow-down-search {
  float: right;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#narrow-down {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.yellow {
  color: #ffff00;
  cursor: pointer;
}

.clear {
  color: #ccc;
  cursor: pointer;
}

td.mix_btn {
  display: none;
}

@media screen and (max-width: 450px) {
  .m-body {
    font-size: 0.875rem;
  }
  .modal-body form {
    width: 90%;
  }
  #narrow-down-search {
    float: none;
    justify-content: center;
  }
  td.hide_btn {
    display: none;
  }
  td.mix_btn {
    display: block;
  }
  .index_table tr th:last-child {
    display: none;
  }
}

// ---------------------------------------------------------------------
// テスト結果画面
// ---------------------------------------------------------------------

.result-area {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

#result_circle {
  margin: 50px;
  width: 250px;
  height: 150px;
  margin: 0 auto;
}

// ---------------------------------------------------------------------------------------
.btn-square-slant {
  display: inline-block;
  margin: 25px;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #7a837f; /*ボタン色*/
  color: #fff;
  border-bottom: solid 5px #3d3f3d; /*ボタン色より暗めに*/
  border-right: solid 5px #4d534d; /*ボタン色より暗めに*/
}

.btn-square-slant:hover {
  color: white;
  text-decoration: none;
}

.btn-square-slant:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fff;
}

.btn-square-slant:after {
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #fff;
  border-bottom-color: transparent;
}

.btn-square-slant:active {
  /*ボタンを押したとき*/
  border: none;
  -webkit-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
}

.btn-square-slant:active:after,
.btn-square-slant:active:before {
  content: none; /*ボタンを押すと線が消える*/
}
// ---------------------------------------------------------------------------------------

.result_box {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}

.result_box p {
  font-family: "Small Fonts", sans-serif;
  font-size: 5rem;
}

.result-table p {
  margin: 0;
}

.maru {
  font-size: 1.5625rem;
  font-weight: lighter;
  color: red;
  display: inline-block;
}

.batu {
  font-size: 1.5625rem;
  font-weight: bold;
  color: blue;
  display: inline-block;
}

.back_index {
  text-align: center;
  width: 100%;
}

.link_index {
  background: rgb(243, 128, 75);
  color: white;
  display: block;
  padding: 30px 0;
  text-decoration: none;
  transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.link_index:hover {
  background: rgb(240, 147, 104);
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .result_box p {
    font-size: 3.75rem;
  }

  .result-table th {
    display: none;
  }
}

// ---------------------------------------------------------------------
// テスト選択画面
// ---------------------------------------------------------------------

.choice_area {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.select_box {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 450px;
  text-align: center;
  transform: translate(-50%, -60%);
}

.news {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news i {
  cursor: pointer;
}

.balloon {
  display: none;
  position: relative;
  float: right;
  width: 350px;
  padding: 5px 0px;
  border: solid 3px #555;
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}

.balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.hinsi-box {
  width: 100%;
  height: 70px;
}

.test_btn {
  padding: 5px;
  margin: 0 15px;
  display: none;
  position: relative;
  z-index: 2;
  background-color: #e27441;
  border: 2px solid #e27441;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  border-radius: 4px;
}
.test_btn:hover {
  background-color: #fff;
  border-color: #e27441;
  color: #e27441;
  text-decoration: none;
}

.btn-animation-02 {
  display: inline-block;
  width: 100%;
  border: 2px solid #e27441;
  text-align: center;
  font-size: 16px;
  padding: 10px 24px;
  font-weight: bold;
  background-color: #e27441;
  color: #e27441;
  text-decoration: none;
  border-radius: 6px;
  position: relative;
}

.btn-animation-02 span {
  position: relative;
  z-index: 1;
}

.btn-animation-02::before,
.btn-animation-02::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.2s;
}

.btn-animation-02::before {
  left: 0;
}

.btn-animation-02::after {
  right: 0;
}

.btn-animation-02:hover:before,
.btn-animation-02:hover:after {
  width: 0;
  background-color: #fff;
}

.btn-animation-02:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .select_box {
    width: 90%;
  }
  .balloon {
    width: 270px;
  }
}
